---
import Career from '../components/career.astro';
import Contact from '../components/contact.astro';
import Home from '../components/home.astro';
import Nav from '../components/nav.astro';
import Projects from '../components/projects.astro';
import { portfolio } from '../data/portfolio';
import Layout from '../layouts/Layout.astro';
---

<Layout title={portfolio.pageTitle}>
  <Nav />
  <main id="main-content" class="site-shell">
    <Home />
    <Career />
    <Projects />
    <Contact />
  </main>
</Layout>
